[user]
	email = brendanw@windworksdesign.com
	name = Brendan Whitfield
[alias]
    wipe = !git reset --hard && git clean -fd
    unstage = reset --

[Color]
    [color "branch"]
        current = green
        local = yellow
        remote = red
    [color "status"]
        added = green
        changed = yellow
        untracked = red
[credential]
	helper = cache --timeout=3600
