<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/3.4/menu">

<menu id="apps-office-menu" label="Office">
  <item label="OpenOffice Base">
    <action name="Execute">
      <command>ooffice -base</command>
    </action>
  </item>
  <item label="OpenOffice Calc">
    <action name="Execute">
      <command>ooffice -calc</command>
    </action>
  </item>
  <item label="OpenOffice Draw">
    <action name="Execute">
      <command>ooffice -draw</command>
    </action>
  </item>
  <item label="OpenOffice Impress">
    <action name="Execute">
      <command>ooffice -impress</command>
    </action>
  </item>
  <item label="OpenOffice Math">
    <action name="Execute">
      <command>ooffice -math</command>
    </action>
  </item>
  <item label="OpenOffice Printer Administration">
    <action name="Execute">
      <command>ooffice-printeradmin</command>
    </action>
  </item>
  <item label="OpenOffice Writer">
    <action name="Execute">
      <command>ooffice -writer</command>
    </action>
  </item>
</menu>



<menu id="openbox-menu" label="Openbox">

  <item label="Openbox Configuration Manager">
    <action name="Execute">
      <command>obconf</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>

  <separator />

  <item label="Openbox menu.xml">
    <action name="Execute">
      <command>sublime ~/.config/openbox/menu.xml</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>

  <item label="Openbox rc.xml">
    <action name="Execute">
      <command>sublime ~/.config/openbox/rc.xml</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>

  <item label="Openbox --reconfigure">
    <action name="Reconfigure" />
  </item>

</menu>



<menu id="tint2-menu" label="Tint2">
  <item label="Tint2Conf">
    <action name="Execute">
      <command>tint2conf</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Tint2 rc.xml">
    <action name="Execute">
      <command>sublime ~/.config/tint2/tint2rc</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
</menu>



<menu id="graphics-menu" label="Graphics">
  <item label="Gimp">
    <action name="Execute">
      <command>gimp</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Blender">
    <action name="Execute">
      <command>blender</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="util-menu" label="Util">
  <item label="Filezilla">
    <action name="Execute">
      <command>filezilla</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Kdiff3">
    <action name="Execute">
      <command>kdiff3</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Galculator">
    <action name="Execute">
      <command>galculator</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
</menu>



<menu id="root-menu" label="Openbox 3">
  <item label="Terminal">
    <action name="Execute">
      <command>terminator</command>
    </action>
  </item>
  <item label="Firefox">
    <action name="Execute">
      <command>firefox</command>
        <enabled>yes</enabled>
        <wmclass>Firefox</wmclass>
    </action>
  </item>
  <item label="Thunar">
    <action name="Execute">
      <command>Thunar</command>
        <enabled>yes</enabled>
    </action>
  </item>
  <item label="Sublime">
    <action name="Execute">
      <command>sublime</command>
        <enabled>yes</enabled>
    </action>
  </item>
  <item label="Code Blocks">
    <action name="Execute">
      <command>codeblocks</command>
        <enabled>yes</enabled>
    </action>
  </item>
  <item label="Chromium">
    <action name="Execute">
      <command>chromium</command>
        <enabled>yes</enabled>
        <wmclass>Chromium</wmclass>
    </action>
  </item>
  <item label="Hexchat">
    <action name="Execute">
      <command>hexchat</command>
        <enabled>yes</enabled>
    </action>
  </item>
  
  <menu id="util-menu"/>
  <menu id="graphics-menu"/>
  <menu id="apps-office-menu"/>

  <separator />

  <item label="Conky">
    <action name="Execute">
      <command>conky</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  
  <item label="Nitrogen">
    <action name="Execute">
      <command>nitrogen</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>

  <item label="Arandr">
    <action name="Execute">
      <command>arandr</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>

  <menu id="openbox-menu"/>
  <menu id="tint2-menu"/>

  <separator />

  <item label="Log Out">
    <action name="Exit">
      <prompt>yes</prompt>
    </action>
  </item>

  <item label="Reboot">
    <action name="Execute">
        <prompt>Are you sure you want to reboot?</prompt>
        <execute>shutdown -r now</execute>
    </action>
  </item>

  <item label="Shutdown">
    <action name="Execute">
        <prompt>Are you sure you want to shutdown?</prompt>
        <execute>shutdown -h now</execute>
    </action>
  </item>

  <item label="Openbox Logout">
    <action name="Execute">
        <execute>oblogout</execute>
    </action>
  </item>

</menu>

</openbox_menu>
