
@-moz-document url-prefix("https://duckduckgo.com") {

  /* prevent the news from popping up all the time */
  #zci-news { display:none !important; }

  /* hide all the ad results */
  #ads { display:none !important; }
  
  /* hide the "default search engine" banner */
  .badge-link { display:none !important; }
  
  /* hide the silly example searchs */
  .tag-home { display:none !important; }
}
