
@-moz-document url-prefix("http://imgur.com/") {
  #cta-container-placeholder { display:none !important; }
  .social { display:none !important; }
}

@-moz-document url-prefix("https://imgur.com/") {
  #cta-container-placeholder { display:none !important; }
  .social { display:none !important; }
}
