
@-moz-document url-prefix("http://www.pandora.com") {
  #promobox { display:none !important; }
  .platformPromo { display:none !important; }
  .stationListHolder { height: 700px; }
  .promotedStation { display:none !important; }
  #trackInfoButtons { display:none !important; }
  
  /* hide the stupid tips */
  .tip_container { display:none !important; }
/*   .tip_box { display:none !important; } */
}
