
@-moz-document url-prefix("http://stackoverflow.com") {

  .network-items { display:none !important; }
  .topbar-menu-links { display:none !important; }
 
  .nav.mainnavs { display:none !important; }
  .nav.askquestion { display:none !important; }  
  
  #herobox,
  #herobox-mini,
  #sidebar { display:none !important; }
  
  /* make the content fill the full width now that the sidebar is gone */
  #mainbar { width:100% !important; }
  #mainbar table { width:100% !important; }
  #mainbar .post-text { width:100% !important; }
  #mainbar .post-taglist { display:none !important; }
  #mainbar .post-menu { display:none !important; }
  #mainbar .comments { width:100% !important; }
  .js-add-link.comments-link { display:none !important; }
  
  #answers { width:100% !important; }
  #answers > * { width:100% !important; }
  
  /* disable the login/post boxes at the bottom */
  #post-form { display:none !important; }
}
