
@-moz-document url-prefix("https://twitter.com") {

  /* disable some useless sidebar content */
  .SignupCallOut { display:none !important; }
  .trends { display:none !important; }
  .RelatedUsers { display:none !important; }
  
  /* disable annoying sign-up modals */
  #signup-dialog { display:none !important; }
  .modal-overlay { display:none !important; }
}
