
@-moz-document url-prefix("https://www.ultimate-guitar.com")
{
    /* dump the background photo */
    body { background: black !important; }

    /* no logo */
    .h-logo { display:none !important; }
    .to-container { display:none !important; }
    
    /* dump the link pools */
    .b.section.bdrunion { display:none !important; }
    
    /* the expando-matic menu at the bottom */
    #main_panel.vybor.dnon.bdrunion { display:none !important; }
    #div_plus { display:none !important; }
    .width-h { height:250px !important; }
}

@-moz-document url-prefix("https://tabs.ultimate-guitar.com")
{
    /* no logo */
    .h-logo { display:none !important; }

    /* hide the tab "player" */
    .js-player-panel { display:none !important; }

    /* hide the fake youtube video */
    .js-tpw-player-side { display:none !important; }
    
    /* hide the "to-your-phone" button */
    .adv-sms-fixed { display:none !important; }
}
